div.footer {
  margin-top: 50px;
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;

  & .content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
  }

  & .left,
  & .right,
  & .center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    & li {
      list-style: none;
      margin-bottom: 10px;
      cursor: pointer;
    }

    & h2 {
      color: #fff;
    }

    & .links img {
      width: 40px;
      margin-right: 15px;
    }
  }

  & hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
  }
}
