div.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h1 {
    color: #262626;
    font-weight: 500;
  }

  & .explore-menu-p {
    max-width: 60%;
    color: #808080;
  }

  & .explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & .explore-menu-lis-item {
    & img {
      width: 7.5vw;
      min-width: 80px;
      cursor: pointer;
      border-radius: 50%;
      transition: 0.3s;

      &:hover {
        transform: scale(0.9);
      }
    }
    & .active {
      border: 4px solid tomato;
      padding: 2px;
    }
    & p {
      margin-top: 10px;
      color: #747474;
      font-size: max(1.4vw, 16px);
      cursor: pointer;
    }
  }

  & hr {
    width: 100%;
    margin: 10px 0;
    height: 1px;
    border: none;
    background-color: #f0f0f0;
  }
}

/* responsive */

@media (width < 1050px) {
  div.explore-menu {
    & .explore-menu-p {
      max-width: 100%;
      font-size: 14px;
    }
  }
}
