div.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    width: 150px;
  }

  & ul.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;

    & li {
      cursor: pointer;
    }
  }

  & .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  & button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }

  & button:hover {
    scale: 0.9;
  }

  & .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
  }

  & .navbar-search-icon {
    position: relative;

    & .dot {
      position: absolute;
      min-width: 10px;
      min-height: 10px;
      background-color: tomato;
      border-radius: 5px;
      top: -8px;
      right: -8px;
    }
  }
}

/* responsive part */

@media (width < 1050px) {
  div.navbar {
    & .logo {
      width: 140px;
    }
    & ul.navbar-menu {
      gap: 20px;
      font-size: 17px;
    }
    & .navbar-right {
      gap: 30px;
      & img {
        width: 22px;
      }
      & button {
        padding: 8px 25px;
      }
    }
  }
}

@media (width < 900px) {
  div.navbar {
    & .logo {
      width: 140px;
    }
    & ul.navbar-menu {
      gap: 15px;
      font-size: 16px;
    }
    & .navbar-right {
      gap: 20px;
      & img {
        width: 20px;
      }
      & button {
        padding: 7px 20px;
        font-size: 15px;
      }
    }
  }
}

@media (width < 700px) {
  div.navbar {
    & ul.navbar-menu {
      display: none;
    }
  }
}
