div.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    width: 150px;
  }

  & ul.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;

    & li {
      cursor: pointer;
    }
  }

  & .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  & button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }

  & button:hover {
    scale: 0.9;
  }

  & .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
  }

  & .navbar-search-icon {
    position: relative;

    & .dot {
      position: absolute;
      min-width: 10px;
      min-height: 10px;
      background-color: tomato;
      border-radius: 5px;
      top: -8px;
      right: -8px;
    }
  }
}
